/* purgecss start ignore */
.theme-atlantic {
  --colors-active: #101E41;
  --colors-dim: rgba(16, 30, 65, 0.64);
  --colors-inert: rgba(16, 30, 65, 0.4);
  --colors-key-default: #2051BC;
  --colors-key-highlight: #1344AE;
  --colors-key-dim: rgba(32, 81, 188, 0.64);
  --colors-key-inert: rgba(32, 81, 188, 0.4);
  --colors-cell-default: #fff;
  --colors-cell-background: #E8EDF2;
  --colors-cell-highlight: #E0E5EC;
  --colors-cell-separator: #D2D8E0;
  --colors-destructive-default: #C41B15;
  --colors-destructive-highlight: #B51812;
  --colors-materials-fixfloating: rgba(255, 255, 255, 0.88); }

.theme-pacific {
  --colors-active: #ffffff;
  --colors-dim: rgba(255, 255, 255, 0.64);
  --colors-inert: rgba(255, 255, 255, 0.4);
  --colors-key-default: #98E6FF;
  --colors-key-highlight: #BEEFFF;
  --colors-key-dim: rgba(152, 230, 255, 0.64);
  --colors-key-inert: rgba(152, 230, 255, 0.4);
  --colors-cell-default: #1C496E;
  --colors-cell-background: #0D2B42;
  --colors-cell-highlight: #30658F;
  --colors-cell-separator: #144166;
  --colors-destructive-default: #F3683C;
  --colors-destructive-highlight: #FE7D56;
  --colors-materials-fixfloating: rgba(31, 74, 107, 0.88); }

/* purgecss end ignore */
header {
  @apply bg-materials-fixedfloating h-14 flex w-full fixed top-0 left-0 z-50 {} }
  header .logo {
    @apply h-14 w-52 flex-none {} }
  header nav {
    @apply w-full p-4 {} }
    header nav a {
      @apply text-base text-key inline-block mr-15 w-auto {}      font-size: 0; }
      header nav a.active {
        @apply text-key {} }
        header nav a.active i {
          @apply text-key {} }
      header nav a i {
        @apply text-base text-dim {} }

@screen tablet {
  header nav a {
    @apply text-base text-active mr-10 {} }
    header nav a i {
      @apply text-base text-active {} } }
      header nav a:last-child {
        @apply mr-0 {} }
      header nav a:hover {
        @apply text-key {} }
        header nav a:hover i {
          @apply text-key {} }
  header div {
    @apply w-48 p-4 text-right text-key {} }

/* purgecss start ignore */
html, body {
  height: 100%;
  margin: 0; }

body {
  @apply text-active bg-cell-background text-active {} }
  body::-webkit-scrollbar:start {
    margin-top: 50px; }

a {
  @apply text-key {} }
  a:focus {
    @apply outline-none {} }

@media (hover: hover) {
  a:hover {
    @apply text-key-highlight {} } }

/* purgecss end ignore */
